.windowbutton {
  width: 40px;
  height: 30px;
  color: var(--secondary);
  transition-property: background-color color;
  transition-duration: 0.15s;
}

.windowbutton:hover {
  background-color: var(--mid);
}

#windowclose:hover {
  background-color: var(--accent);
  color: var(--primary);
}

#windowminimize {
  --background: transparent;
  --icon: url(/assets/icons/window/minimize.svg);
}

#windowmaximize {
  --background: transparent;
  --icon: url(/assets/icons/window/maximize.svg);
}

#windowclose {
  --background: transparent;
  --icon: url(/assets/icons/window/close.svg);
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
}

#titlebar {
  display: flex;
  flex-direction: row;
  position: relative;

  height: 32px;
  width: 100%;
}

#titlebartitle {
  margin: auto 10px;
  font-weight: 900;
}

#titlebarspacer {
  flex-grow: 1;
}

#titlebarbuttons {
  display: flex;
  flex-direction: row;
  gap: 1px;
  padding: 1px;
}

.windowbutton {
  width: 40px;
  height: 30px;
  cursor: pointer;
}

main {
  display: flex;
  flex-grow: 1;
  position: relative;

  width: 100vw;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;

  height: calc(100% - var(--padding) * 2);
  max-width: calc(100% - var(--padding) * 2);
  margin: auto auto;
}

#sidebar {
  width: 280px;
  height: 100%;
}

#resizer {
  position: relative;
  padding: 0 var(--padding);
  height: 100%;
  cursor: col-resize;
}

#resizerline {
  width: 2px;
  height: 100%;
  background-color: var(--mid);
}

#workarea {
  flex-grow: 1;
  height: 100%;
}
