@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/100.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url("/assets/fonts/Geist/900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
